@use '../scss/variables' as *;
.dokument_section{
    display: flex;
    width: 100%;
    background: $form-color;
    padding: $main-padding;
    justify-content: center;
    @media (max-width: 700px) {
        padding: 0;
    }
}
.dokument_wrapper{
    display: flex;
    flex-direction: column;
    max-width: $max-width;
    background-color: $white-color;
    padding: $main-padding;
    border-radius: $border-radius;
    @media (max-width: 700px) {
        padding: 1rem 1rem;
    }
    h1{
        font-size: $h2;
        text-align: center;
        margin-bottom: 1rem;
        text-transform: uppercase;
    }
    h2{
        font-size: calc($h2 / 1.5);
        margin-top: 1rem;
    }
    h3{
        font-size: calc($h3 / 1.2);
        font-weight: 600;
        text-transform: uppercase;
    }
    h3:first-of-type, h3:last-of-type{
        margin-top: 1rem;
    }
    a{
        color: $btn-hover-color;
        font-weight: 400;
    }
}