@use '../scss/variables' as *;

.cta {
  background-color: $btn-hover-color;
  color: $form-color;
  text-align: center;
  padding: $padding-base;

  .container {
    max-width: $max-width;
    margin: 0 auto;
  }

  h2 {
    font-size: $h2;
    margin-bottom: 1rem;
  }

  p {
    font-size: $p;
    margin-bottom: 2rem;
  }

  .button {
    display: inline-block;
    background-color: $form-color;
    color: $btn-hover-color;
    font-weight: bold;
    padding: $btn-padding;
    border-radius: $btn-radius;
    text-decoration: none;
    transition: transform 0.2s ease;

    &:hover {
      background-color: $btn-form;
      color: $white-color;
      transform: translateY(5px);
    }
  }
}
@media (max-width: 720px) {
    .cta{
        padding: 2rem 1rem;
    }
}