@use '../scss/variables' as *;
.narrative {
  background-color: $white-color;
  padding: $padding-base;
  color: $text2-color;
  @media (max-width: 720px) {
    padding: 2rem 1rem;
  }
}
 .container {
  display: flex;
  flex-direction: column;
  gap: $gap;
  max-width: $max-width;
  margin: 0 auto;
  line-height: 1.6;
  h2 {
    font-size: $h2;
    color: $secondary-color;
    margin-bottom: 0.5rem;
    text-align: center;
  }
  p {
    font-size: $p;
    text-align: justify;
    a{
      color: $btn-form;
      font-weight: 500;
    }
  }
  strong{
    color: $btn-hover-color;
  }
}