@charset "UTF-8";
/* FONT: (POKUD CHCEŠ FONT, použij přímo @font-face! Jinak smaž tento blok) */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&display=swap");
@page{
  size: A4;
  margin: 0;
  padding: 0;
}
*::before{
  box-sizing: border-box;
}
*::after {
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  position: relative;
}
.resume {
  width: 794px;
  height: 1123px;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 250px calc(794px - 250px);
  box-sizing: border-box;
  font-family: serif;
  color: #333;
}
.left {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgba(230, 230, 230, 0.5058823529);
  color: #fff;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: row;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: center;
  width: 100%;
  height: 100vh;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #ffffff;
  box-sizing: border-box;
}
.bar{
  position: fixed;
  left: 0; top: 0; right: 0; bottom: 0;
  width: 250px;
  height: 100vh;
  background-color: rgba(230, 230, 230, 0.5058823529);
  z-index: -1;
}
.nameSection {
  margin-bottom: 1rem;
}

.name {
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 1.1;
  text-align: left;
}

.name strong {
  font-weight: 700;
}

.position-title {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 4px;
  margin-top: 5px;
  text-align: left;
  text-transform: uppercase;
  color: #333;
  border-bottom: 1px solid rgba(51, 51, 51, 0.5058823529);
  border-top: 1px solid rgba(51, 51, 51, 0.5058823529);
}

.section {
  margin-bottom: 20px;
}

.section-title {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 12px;
  padding: 6px 0px 6px 1.5rem;
  color: white;
  background-color: #3b393a;
}

.section-title--noborder {
  border-bottom: none;
  margin-bottom: 0.5rem;
  background-color: white;
  color: #333;
  padding: 0;
}

.summary {
  font-size: 12px;
  line-height: 1.5;
  font-weight: 300;
}

.experience-entry {
  position: relative;
  padding-left: 0;
  display: grid;
  grid-template-columns: 6rem 1fr;
  gap: 1.5rem;
  break-inside: avoid;
  page-break-inside: avoid;
}

.experience-entry strong {
  font-size: 14px;
  font-weight: 700;
  display: block;
}

.experience-entry .company {
  font-size: 12px;
  font-weight: 400;
  color: #555;
  margin-bottom: 8px;
  display: block;
}

.experience-entry ul {
  padding-left: 16px;
  margin-top: 5px;
}

.experience-entry ul li {
  font-size: 12px;
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: 4px;
}

.experience-entry span:first-child {
  position: relative;
  display: inline-block;
  text-align: center;
  margin-top: 2px;
}

.experience-entry span:first-child::after {
  position: absolute;
  left: 2.95rem;
  top: 1.5rem;
  bottom: 0;
  content: "";
  background-color: rgba(51, 51, 51, 0.2588235294);
  width: 1px;
  height: auto;
}

.expirience_columns {
  display: flex;
  flex-direction: column;
}

.skillsList {
  list-style-type: none;
}

.skillsList li {
  color: #333;
  margin: 5px 0px 5px 0;
  font-size: 12px;
  text-align: right;
  padding-right: 1.5rem;
}

.photo {
  width: 250px;
  height: 300px;
  text-align: center;
}

.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rightSection {
  margin-bottom: 0.8rem;
  color: #333;
  text-align: right;
}

.rightSection h3 {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 7px;
  padding: 6px 1.5rem 6px 0px;
  border-bottom: 1px solid rgba(218, 215, 215, 0.4431372549);
  margin-bottom: 10px;
  background-color: #3b393a;
  color: white;
  text-align: right;
}

.rightSection p, .rightSection .educationEntry {
  font-size: 12px;
  line-height: 1.6;
  margin: 4px 0;
  padding-right: 1.5rem;
  padding-left: 1rem;
}

.rightSection .educationEntry {
  margin-bottom: 12px;
}

.rightSection svg {
  font-size: 14px;
  margin-left: 16px;
  vertical-align: middle;
}
#skola, #certifikaty, #jazyky, #skill_container{
  break-inside: avoid;
  page-break-inside: avoid;
}
.hiddenText {
  font-size: 0 !important;
  line-height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  visibility: hidden;
}

.contact, .education, .expertise {
  margin-bottom: 20px;
}
.left * {
  margin-top: 0;
  padding-top: 0;
}