@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&display=swap");
@page{
  size: A4;
  padding: 0;
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
ul[class],
ol[class] {
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
p,
div, 
section, 
article,
ul[class],
ol[class],
figure,
blockquote {
  margin: 0;
  padding: 0;
}
ul[class],
ol[class] {
  list-style: none;
}
body{
  margin: 0;
  padding: 0;
  position: relative;
  line-height: 1.6;
  text-decoration-skip-ink: auto;
}
.resume * p, .resume li, .resume ul, .resume h1, .resume h2, .resume h3, .resume em, .resume strong {
  font-family: "Playfair Display", serif;
}
.resume {
  width: 794px;
  height: 1123px;
  padding: 0;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
  color: #333;
}

.resume_wrapper {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: fit-content(250px) 1fr;
  background-color: #ffffff;
}

.left {
  width: 100%;
  max-width: 250px;
  padding: 0;
  position: relative;
  background-color: rgba(230, 230, 230, 0.5058823529);
  color: #333;
}

.border::after {
  position: fixed;
  content: "";
  background-color: rgba(230, 230, 230, 0.5058823529);
  width: 250px;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: -1;
}

.photo {
  width: 250px;
  height: 300px;
  text-align: center;
}

.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact {
  color: #333;
  text-align: right;
  font-family: "Playfair Display", serif;
}
.contact h3 {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding: 8px 24px 8px 24px;
  margin-bottom: 16px;
  background-color: #3b393a;
  color: white;
  text-align: right;
  font-family: "Playfair Display", serif;
}
.contact p {
  font-size: 12px;
  line-height: 1.6;
  margin-top: 4px;
  padding-right: 1.5rem;
  padding-left: 24px;
  font-family: "Playfair Display", serif;
}
.contact svg {
  margin-left: 1rem;
}

.education {
  margin-top: 1rem;
  text-align: right;
}
.education h3 {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding: 8px 24px 8px 24px;
  margin-bottom: 16px;
  background-color: #3b393a;
  color: white;
  text-align: right;
  font-family: "Playfair Display", serif;
}
.education p {
  font-size: 12px;
  line-height: 1.6;
  margin-top: 4px;
  padding-right: 1.5rem;
  padding-left: 24px;
  font-family: "Playfair Display", serif;
}

.educationEntry {
  font-size: 12px;
  line-height: 1.6;
  margin-top: 8px;
  padding-right: 1.5rem;
  padding-left: 24px;
  font-family: "Playfair Display", serif;
  break-inside: avoid;
  page-break-inside: avoid;
}

.certifikaty {
  margin-top: 0;
  text-align: right;
  font-family: "Playfair Display", serif;
}
.certifikaty h3 {
  margin-top: 16px;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding: 8px 24px 8px 24px;
  margin-bottom: 16px;
  background-color: #3b393a;
  color: white;
  text-align: right;
  font-family: "Playfair Display", serif;
}

.languages {
  text-align: right;
  font-family: "Playfair Display", serif;
  break-inside: avoid;
  page-break-inside: avoid;
}
.languages h3 {
  margin-top: 16px;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding: 8px 24px 8px 24px;
  margin-bottom: 16px;
  background-color: #3b393a;
  color: white;
  text-align: right;
  font-family: "Playfair Display", serif;
}
.languages p {
  font-size: 12px;
  line-height: 1.6;
  margin-top: 4px;
  padding-right: 1.5rem;
  padding-left: 24px;
  font-family: "Playfair Display", serif;
}
.languages strong {
  font-weight: 700;
}

.skillsWrapp {
  text-align: right;
  font-family: "Playfair Display", serif;
  break-inside: avoid;
  page-break-inside: avoid;
}
.skillsWrapp h3 {
  margin-top: 16px;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding: 8px 24px 8px 24px;
  margin-bottom: 16px;
  background-color: #3b393a;
  color: white;
  text-align: right;
  font-family: "Playfair Display", serif;
}

.skillsList {
  list-style-type: none;
  font-family: "Playfair Display", serif;
  text-align: right;
}

.skillsList li {
  color: #333;
  margin-top: 4px;
  font-size: 12px;
  text-align: right;
  padding: 0 1.5rem;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: center;
  width: 100%;
  height: 100%;
  padding: 2rem;
  padding-bottom: 0;
  background-color: #ffffff;
}

.name {
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 1.1;
  text-align: left;
}

.name strong {
  font-weight: 700;
}

.position_title {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 4px;
  margin-top: 4px;
  text-align: left;
  text-transform: uppercase;
  padding: 4px 0;
  color: #333;
  border-bottom: 1px solid rgba(51, 51, 51, 0.5058823529);
  border-top: 1px solid rgba(51, 51, 51, 0.5058823529);
}

.summaryWrapp {
  margin-top: 8px;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 300;
  font-family: "Playfair Display", serif;
}

.section-title {
  font-size: 12px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding: 8px 24px 8px 24px;
  color: white;
  background-color: #3b393a;
}

.section-title--noborder {
  border-bottom: none;
  margin-bottom: 0.5rem;
  background-color: white;
  color: #333;
  padding: 0;
}

.experienceWrapper .section-title {
  margin-top: 1rem;
}

.experience-entry {
  position: relative;
  margin-top: 8px;
  padding-left: 0;
  display: grid;
  grid-template-columns: 6rem 1fr;
  gap: 1.5rem;
  break-inside: avoid;
  page-break-inside: avoid;
}

.experience-entry strong {
  font-size: 14px;
  font-weight: 700;
  display: block;
}

.company {
  margin-top: 0;
  font-size: 12px;
  font-weight: 400;
  color: #555;
  display: block;
}

.experience-entry ul {
  padding-left: 12px;
  margin-top: 8px;
  margin-bottom: 0;
}

.experience-entry ul li {
  font-size: 12px;
  line-height: 1.5;
  font-weight: 300;
  padding-left: 8px;
}

.experience-entry span:first-child {
  position: relative;
  display: inline-block;
  text-align: center;
}

.experience-entry span:first-child::after {
  position: absolute;
  left: 2.95rem;
  top: 1.5rem;
  bottom: 0;
  content: "";
  background-color: rgba(51, 51, 51, 0.2588235294);
  width: 2px;
  height: auto;
}

.expirience_columns {
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=pdfTemplate4.css.map */
