@use '../scss/variables' as *;

.features {
  display: flex;
  flex-direction: column;
  gap: $gap2;
  padding: $padding-base;
  background-color: $form-color;
  text-align: center;

  h2 {
    font-size: $h2;
    color: $secondary-color;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: $gap2;
    max-width: $max-width;
    margin: 0 auto;
     @media (max-width: 720px) {
    gap: $gap;
  }
  }
  @media only screen and (max-width: 1170px){
    .grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    }
  }
   @media only screen and (max-width: 610px){
    .grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
  }
    @media only screen and (max-width: 610px){
    .grid {
    grid-template-columns: 1fr;
    }
  }
  .tile {
    background: $gradient;
    border-radius: $border-radius;
    padding: $main-padding;
    box-shadow: $shadow;
    transition: transform 0.2s ease;

    &:hover {
      transform: translateY(-5px);
    }

    h3 {
      margin-top: 1rem;
      font-size: $h3;
      color: $secondary-color;
    }

    p {
      font-size: $p;
      color: $text2-color;
    }

    .icon {
      font-size: $icon;
      color: $btn-hover-color;
    }
  }
}
@media (max-width: 720px) {
    .features{
        padding: 2rem 1rem;
    }
}