@use '../scss/variables' as *;

.Hero {
   position: relative !important;
   display: flex;
   flex-direction: column;
   gap: $gap2;
   align-items: center;
   padding: $padding-base;
   padding-bottom: 0;
   background: $form-color;
   background: -webkit-linear-gradient(100deg,rgba(235, 242, 248, 1) 0%, rgba(235, 242, 248, 1) 30%, rgba(200, 217, 230, 1) 60%, rgba(200, 217, 230, 1) 80%, rgba(235, 242, 248, 1) 100%);
   background: -moz-linear-gradient(100deg,rgba(235, 242, 248, 1) 0%, rgba(235, 242, 248, 1) 30%, rgba(200, 217, 230, 1) 60%, rgba(200, 217, 230, 1) 80%, rgba(235, 242, 248, 1) 100%);
   background: linear-gradient(100deg,rgba(235, 242, 248, 1) 0%, rgba(235, 242, 248, 1) 30%, rgba(200, 217, 230, 1) 60%, rgba(200, 217, 230, 1) 80%, rgba(235, 242, 248, 1) 100%);
   text-align: center;
   @media (max-width: 700px) {
      padding: 2rem 1rem; 
   }
}
.HeroWrapper{
   display: flex;
   flex-direction: row-reverse;
   gap: $gap2;
   width: 100%;
   max-width: $max-width;
   justify-content: left;
   @media (max-width: 600px) {
      flex-direction: column-reverse;
   }
}
.HeroLeft{
   display: flex;
   position: relative;
   width: 60%;
   height: auto;
   @media (max-width: 940px) {
      width: 300px;
   }
   @media (max-width: 700px) {
      width: 50%;
   }
   @media (max-width: 600px) {
      width: 100%;
   }
}
.HeroTitleWrapper {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   color: $text-color;
   max-width: 55%;
   min-height: 65vh;
   padding-right: $main-padding;
   height: auto;
   text-align: left;
   z-index: 2;
   h1{
   font-size: 3.5rem;
   line-height: 1.15;
   font-weight: 800;
   margin-bottom: 1rem;
      span{
         color: $btn-form;
         text-transform: none;
      }
   }
   p:first-of-type{
      font-size: 1.2rem;
      font-weight: 400;
   }
   @media (max-width: 1280px) {
      min-height: 55%;
      min-height: 65vh;
   }
   @media (max-width: 1279px) {
      min-height: 50vh;
   }
   @media (max-width: 940px) {
      max-width: 55%;
   }
   @media (max-width: 700px) {
      padding: 0;
      max-width: 50%; 
      h1{
       font-size: 3.5rem;
      }
   }
   @media (max-width: 600px) {
      max-width: 100%;
      min-height: calc(100vh - $header-height - $footer-height - 15vh);
      h1{
         text-align: center;
         font-size: 3rem;
      }
      p{
         text-align: center;
      }
   }
   @media (max-width: 520px) {
      h1{
         font-size: 2.5rem;
      }
   }
   @media (max-width: 420px) {
      h1{
         font-size: 2rem;
      }
      p:first-of-type{
         font-size: 1.1rem;
      }
   }
}
.LinkWrapper{
   display: flex;
   flex-direction: row;
   gap: $gap;
   align-items: center;
   margin-top: 1rem;
   margin-bottom: 2rem;
   @media (max-width: 700px) {
      margin-bottom: 0;
   }
   @media (max-width: 600px) {
      align-self: center;
   }
}
.IconWrapper{
   display: flex;
   flex-direction: row;
   gap: $gap;
   pointer-events: none;
   user-select: none;
   -webkit-user-drag: none;
   img{
      width: auto;
      height: 24px;
   }
}
.HeroleftImg{
   position: absolute;
   display: inline-block;
   object-fit: cover;
   pointer-events: none;
   user-select: none;
   -webkit-user-drag: none;
   max-width: 550px;
   margin-top: 2rem;
   bottom: 0;
   right: 0;
   @media (max-width: 940px) {
      display: none;
   }
}
.HeroleftImg2{
   display: none;
   object-fit: cover;
   pointer-events: none;
   user-select: none;
   -webkit-user-drag: none;
   max-width: 350px;
   @media (max-width: 940px) {
      display: inline-block;
      position: absolute;
      top: inherit;
      bottom: 0;
      right: 0rem;
   }
   @media (max-width: 700px) {
      bottom: -1rem;
      right: -0.2rem;
      max-width: 320px;
   }
   @media (max-width: 600px) {
      display: none;
   }
}
.HeroleftImg3{
   display: none;
   object-fit: cover;
   pointer-events: none;
   user-select: none;
   -webkit-user-drag: none;
   width: 100%;
   max-width: 82%;
   @media (max-width: 600px) {
      display: block;
      position: absolute;
      bottom: -2rem;
      left: 50%;
      transform: translateX(-50%);
   }
   @media (max-width: 376px) {
      max-width: 75%;
   }
}
.cta {
   display: inline-block;
   width: auto;
   padding: $btn-padding;
   background-color: $btn-hover-color;
   color: $form-color;
   border-radius: $btn-radius;
   font-weight: bold;
   text-decoration: none;
   transition: transform 0.2s ease;
   &:hover {
      text-decoration: none;
      background-color: $btn-form;
      box-shadow: 0 4px 24px rgba(0,0,0,0.08);
      transform: translateY(5px);
   }
}