@use '../scss/variables' as *;

.Hook {
  position: relative !important;
  display: flex;
  flex-direction: column;
  gap: $gap2;
  align-items: center;
  padding: $padding-base;
  padding-top: 0;
  background: $white-color;
  text-align: center;
  @media (max-width: 700px) {
     padding: 2rem 1rem;
     padding-top: 0; 
  }

}
.HookWrapper{
  display: flex;
  flex-direction: row-reverse;
  gap: $gap2;
  width: 100%;
  max-width: $max-width;
  @media (max-width: 700px) {
    flex-direction: column;
  }
}
.HookLeft{
  display: grid;
  grid-template-columns: 5fr 6fr;
  gap: $gap;
}
.HookLeftColumn{
  display: flex;
  flex-direction: column;
  gap: $gap;
  width: auto;
  height: 100%;
  picture{
    height: 100%;
  }
}
.HookTitleWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $text-color;
  gap: $gap;
  width: 100%;
  height: auto;
  padding-right: $main-padding;
  border-radius: 0 0.8rem 0.8rem 0;
  text-align: left;
  &:last-child{
    align-items: flex-end;
  }
  h2{
    align-self: flex-start;
    span{
      color: $btn-form;
      text-transform: none;
    }
  }
  p > a{
    color: $btn-form;
    font-weight: 500;
    &:hover{
    text-decoration: underline;
    }
  }
  @media (max-width: 700px) {
    padding: 0; 
    h2{
     text-align: center;
     align-self: center;
    }
    p{
    text-align: justify;
    }
    &:last-child{
      align-items: center;
    }
  }
}
.HookleftImg{
  height: 100%;
  width: auto;
  object-fit: cover;
  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;
  border-radius: 0.8rem 0 0 0.8rem;
}
.HookleftImg2{
  display: inline-block;
  object-fit: cover;
  height: 100%;
  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;
  border-radius: 0 0.8rem 0 0;
}
.HookleftImg3{
  display: inline-block;
  object-fit: cover;
  height: 100%;
  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;
  border-radius: 0 0 0.8rem 0;
}
.cta {
  display: inline-block;
  width: auto;
  padding: $btn-padding;
  background-color: $btn-hover-color;
  color: $form-color;
  border-radius: $btn-radius;
  font-weight: bold;
  text-decoration: none;
  transition: transform 0.2s ease;
  &:hover {
    text-decoration: none;
    background-color: $btn-form;
    box-shadow: 0 4px 24px rgba(0,0,0,0.08);
    transform: translateY(5px);
  }
  @media (max-width: 700px) {
    align-self: center;
    margin-top: 1rem;
  }
}