@use '../scss/variables' as *;

.narrative {
  display: flex;
  background-color: $white-color;
  padding: $padding-base;
  color: $text2-color;
  justify-content: center;
  align-items: center;
  @media (max-width: 700px) {
    padding: 2rem 1rem;
    padding-top: 0;
  }
}
.container {
  display: grid;
  grid-template-columns: 2fr auto;
  gap: calc($gap2 * 2);
  max-width: $max-width;
  line-height: 1.6;
  h2 {
    font-size: $h2;
    color: $secondary-color;
    margin-bottom: 0.5rem;
    text-align: left;
    margin-bottom: 1rem;
    span{
      color: $btn-form;
    }
    strong{
      color: $btn-form;
      font-weight: 600;
    }
  }
  p {
    font-size: $p;
    text-align: justify;
    a{
      color: $btn-form;
      font-weight: 500;
    }
  }
  strong{
    color: $btn-hover-color;
  }
  @media (max-width: 800px) {
    display: flex;
    flex-direction: column;
  }
  @media (max-width: 700px) {
    gap: $gap2;
    h2{
      text-align: center;
    }
  }
}
.NarrativeLeftWrapper{
  display: flex;
  flex-direction: column;
  gap: $gap;
  width: 100%;
}
.NarrativeRightWrapper{
  display: flex;
 justify-self: flex-end;
}