@charset "UTF-8";
/* Box pravidla */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Scroll chovani */
html {
  scroll-behavior: smooth;
}

/* Zaklady chovaní BODY */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.6;
  text-decoration-skip-ink: auto;
}

/* Odstrani zakladni padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Odstrani zakladni margin */
body,
h1,
h2,
h3,
h4,
p,
div, 
section, 
article,
ul[class],
ol[class],
figure,
blockquote {
  margin: 0;
  padding: 0;
}

/* Odstrani tecky a znacky u seznamu */
ul[class],
ol[class] {
  list-style: none;
}

/* Pokud <a> nema class nastaví zaklad */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Zakladni nastaveni obrazku */
img,
picture {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

button{
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  outline: none;
}
/* Automaticke odsazeni sekcí */
section > * + * {
  //margin-top: 1em;
}

/* Odstrani animace, pokud je tak prohlizec nastaven */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
}