/* src/scss/_variables.scss */
$back-color: #ebebeb;
$primary-color: #1E2940;
$secondary-color: #1E1E1E;
$third-color: #F7F7F7;
$form-color: #ebf2f8;
$white-color: white;
$text-color: #0D0D0D;
$text2-color: #414040;
$text3-color: #ffffffe7;
$btn-hover-color: #154D90;
$btn-form: #2465c7;
$bar-color: #9e9e9e44;
$blue-color: #9cc9f7bd;
$gold-color: #fffde3ea;
$price-color: #17325a;
$gradient: linear-gradient(300deg,rgba(255, 255, 255, 1) 0%, rgb(250, 252, 255) 100%);
$shadow: 0 8px 10px rgba(92, 141, 196, 0.250);

$font-stack: 'Poppins', sans-serif;

$padding-base: 80px 64px;
$max-width: 1140px;
$border-radius: 0.8rem;
$btn-radius: 4px;
$btn-padding: 0.7rem 1rem;
$main-padding: 64px;
$gap2: 2rem;
$gap: 1rem;
$gap32: 32px;
$gap64: 64px;
$gap80: 80px;
$gap_list: 0.5rem;

$header-height: 65px;
$footer-height: 60px;

$max-width: 1280px;

$h1: 48px;
$h2: 40px;
$h3: 20px;
$h4: 18px;
$p: 1rem;
$p_small: 0.8rem;
$button: 18px;
$icon: 30px;