@use '../scss/variables' as *;

.AI {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $back-color;
  justify-content: center;
  align-items: center;
}
.AIWrapper{
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: $gap80;
  width: 100%;
  max-width: $max-width;
  background-color: $third-color;
  padding: 64px;
  @media (max-width: 1024px) {
    gap: 2rem;
    padding: 32px;
  }
  @media (max-width: 870px) {
    grid-template-columns: 1fr;
  }
  @media (max-width: 700px) {
    padding: 32px 24px;
  }
}
.AILeft{
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  @media (max-width: 870px) {
    picture{
      width: 80%;
      height: auto;
    }
  }
  @media (max-width: 700px) {
    picture{
      width: 100%;
      height: auto;
    }
  }
}
.AILeftColumn{
  display: flex;
  flex-direction: column;
  gap: $gap;
  width: 100%;
  height: auto;
}
.AITitleWrapper {
  display: flex;
  flex-direction: column;
  gap: $gap;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  h2{
    margin-bottom: 8px;
  }
  span{
    color: $btn-hover-color;
  }
  @media (max-width: 700px) {
    h2{
     font-size: calc($h2 / 1.5);
    }
  }
}
.AIleftImg{
  width: 100%;
  height: auto;
  object-fit: cover;
  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;
}
.SecureWrapper{
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: $gap80;
  width: 100%;
  max-width: $max-width;
  background-color: $third-color;
  padding: 64px;
  @media (max-width: 1024px) {
    gap: 2rem;
    padding: 32px;
  }
  @media (max-width: 870px) {
    display: flex;
    flex-direction: column-reverse;
  }
  @media (max-width: 700px) {
    
    padding: 32px 24px;
  }
}
.SecureTitleWrapper {
  display: flex;
  flex-direction: column;
  gap: $gap;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  h2{
    margin-bottom: 8px;
  }
  span{
    color: $btn-hover-color;
  }
  @media (max-width: 700px) {
     h2{
      font-size: calc($h2 / 1.5);
     }
  }
}
.SecureleftImg{
  width: 100%;
  height: auto;
  object-fit: cover;
  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;
  border-radius: 0.8rem 0 0 0.8rem;
  @media (max-width: 870px) {
    picture{
      width: 80%;
      height: auto;
    }
  }
  @media (max-width: 700px) {
    picture{
      width: 100%;
      height: auto;
    }
  }
}
