@use '../scss/variables' as *;

.cta {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: $back-color;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 24px;
  max-width: $max-width;
  background-color: $btn-hover-color;
  padding: 64px;
  h2 {
    font-size: $h2;
    color: $white-color;
  }
  p {
    font-size: $p;
    color: $white-color;
    margin-bottom: 8px
  }
  @media (max-width: 1024px) {
    padding: 32px;
  }
  @media (max-width: 700px) {
    padding: 32px 24px;
    h2{
      font-size: calc($h2 / 1.5);
    }
  }
}
.button {
  display: block;
  padding: 10px 20px;
  background-color: $white-color;
  color: $btn-hover-color;
  border-radius: $btn-radius;
  font-size: $h4;
  font-weight: 500;
  text-decoration: none;
  transition: transform 0.2s ease;
  &:hover {
    text-decoration: none;
    color: $white-color;
    background-color: $btn-form;
    box-shadow: 0 4px 24px rgba(0,0,0,0.08);
    transform: translateY(5px);
  }
  @media (max-width: 1024px) {
    font-size: calc($h4 / 1.1);
  }
  @media (max-width: 700px) {
    font-size: calc($h4 / 1.2);
  }
}
