@use '../scss/variables' as *;

.features {
  display: flex;
  flex-direction: column;
  background-color: $back-color;
  text-align: center;
  justify-content: center;
  align-items: center;
  @media (max-width: 700px) {
    background-color: $white-color;
  }
}
.grid {
  display: flex;
  flex-direction: row;
  gap: $gap80;
  width: 100%;
  max-width: $max-width;
  background-color: $white-color;
  padding: 64px;
  padding-top: 32px;
  align-items: stretch;
  @media (max-width: 1024px) {
    gap: $gap2;
    padding: 32px;
  }
  @media (max-width: 700px) {
    gap: 24px;
    flex-direction: column;
    padding: 36px 24px;
  }
}
.tile {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-height: 180px;
  transition: transform 0.2s ease;
  &:hover {
    transform: translateY(-5px);
  }
  h3 {
    font-size: $h3;
    color: $secondary-color;
    line-height: 1.2;
  }
  p {
    font-size: $p;
    color: $text2-color;
    line-height: 1.5;
  }
  .icon {
    font-size: $icon;
    color: $btn-hover-color;
    min-height: $icon;
  } 
  @media (max-width: 700px) {
    padding: 0;
    gap: 0;
    min-height: 0;
    .icon {
      font-size: 1.8rem;
      color: $btn-hover-color;
      min-height: 1.8rem;
    }
  }
}
