@use '../scss/variables' as *;

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: $back-color;
  height: $footer-height;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: $max-width;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  background-color: $primary-color;
  p{
    color: $form-color;
    text-decoration: none;
    font-size: $p_small;
  }
}
.odkazy_wrapper{
  display: flex;
  flex-direction: row;
  gap: calc($gap / 2);
  justify-content: center;
  a{
    color: $form-color;
    font-size: $p_small;
  }
}
