@use '../scss/variables' as *;
.languageSelector {
    position: relative;
    display: inline-block;

  .selected {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem 0.7rem;
    border-radius: 8px;
    transition: background 0.2s;
    &:hover, &:focus {
      background: $btn-hover-color;
      .arrow {
      color: $white-color;
      }
    }
    img {
        border-radius: 2px;
        box-shadow: $shadow-soft-md;
        max-width: 23px;
    }
    .arrow {
        display: flex;
        font-size: 1em;
        margin-left: 0.3rem;
        transition: transform 0.2s;
        color: $btn-hover-color;
        &:hover{
            color: $white-color;
        }
    }
    @media (max-width: 1080px) {
        margin-left: 0.5rem;
    }
  }

  .dropdown {
    position: absolute;
    top: 135%;
    right: 0;
    background: $white-color;
    border: 1px solid $color-gray-120;
    border-radius: 8px;
    box-shadow: $shadow-soft-lg;
    padding: 0.25rem 0;
    min-width: 10rem;
    z-index: 10;
    list-style: none;
     @media (max-width: 1080px) {
        margin-left: 1rem;
        left: 0;
        right: inherit;
        }
    }

  .option {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    width: 100%;
    background: none;
    border: none;
    padding: 0.5rem 0.7rem;
    cursor: pointer;
    text-align: left;
    border-radius: 8px;
    font-size: 1rem;
    &:hover, &:focus {
        background: $back-color;
    }
    img {
        border-radius: 2px;
        box-shadow: $shadow-soft-sm;
    }
  }
}
