@use '../scss/variables' as *;
.MetodyWrapper {
  display: flex;
  flex-direction: column;
  background-color: $back-color;
  justify-content: center;
  align-items: center;
  @media (max-width: 700px) {
    background-color: $white-color;
  }
}
.Wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  max-width: $max-width;
  background-color: $white-color;
  padding: 64px;
  padding-top: 32px;
  picture{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    pointer-events: none;
    user-select: none;
    -webkit-user-drag: none;
  }
  @media (max-width: 1024px) {
    padding: 32px;
  }
  @media (max-width: 700px) {
    padding: 32px 24px;
  }
}
.LogoImg1,
.LogoImg2,
.LogoImg3{
  height: calc(60px / 1);
  width: auto;
  @media (max-width: 700px) {
    height: calc(60px / 1.9);
  }
}
.LogoImg4{
  height: calc(40px / 1.15);
  width: auto;
  @media (max-width: 700px) {
    height: calc(40px / 2.2);
  }
}
.LogoImg5{
  height: calc(45px / 1);
  width: auto;
  @media (max-width: 700px) {
    height: calc(45px / 1.95);
  }
}