@use '../scss/variables' as *;
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: $gap;
    padding: $padding-base;
    padding-bottom: 0;
    color: $text-color;
    background-color: $white-color;  
    h1{
        font-size: $h2;
    }
}
@media (max-width: 700px) {
    .container{
        padding: 1rem 1rem;
        padding-bottom: 0;
    }
}
.container > p{
    max-width: calc($max-width / 1.2);
    font-size: $p;
    color: $text-color;
    margin-bottom: 1rem;
}
.price_wrapper{
    display: grid;
    grid-template-columns: calc(794px / 2) minmax(calc(794px / 2), calc(1140px - (794px / 2)));
    gap: $gap;
    max-width: $max-width;
    height: auto;
    background-color: $white-color;
    @media (max-width: 1139px) {
    grid-template-columns: 1fr;
    }
   @media (max-width: 700px) {
    width: 100%;
    }
}
.price_card{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(1123px / 2);
    gap: 5rem;
    border-radius: $border-radius;
    background-color: $primary-color;
    box-shadow: $shadow;
    padding: calc($main-padding + 1rem);
    @media (max-width: 700px) {
    padding: calc($main-padding / 2);
    height: auto;
    }
   
}
.price_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $white-color;
    line-height: 1.5;
    p {
        color: $white-color;
        font-size: $p_small;
        margin-bottom: 0;
    }
    h2{
        position: relative;
        color: $form-color;
        font-size: 3.5rem;
        &::after{
            position: absolute;
            content: "Kč";
            font-size: 1.5rem;
            color: $form-color;
            top: 0;
        }
    }
}
.price_sectionSK{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $white-color;
    line-height: 1.5;
    p {
        color: $white-color;
        font-size: $p_small;
        margin-bottom: 0;
    }
    h2{
        position: relative;
        color: $form-color;
        font-size: 3.5rem;
        &::after{
            position: absolute;
            content: "€";
            font-size: 1.5rem;
            color: $form-color;
            top: 0;
        }
    }
}
.price_bar{
    display: inline-block;
    position: absolute;
    height: 2px;
    width: calc(100% - 6rem);
    top: 12rem;
    background-color: $bar-color;
    @media (max-width: 700px) {
        left: 3rem;
        top: 9.5rem;
    }
}
.price_bar2{
    display: inline-block;
    height: 1px;
    width: 100%;
    background-color: $bar-color;
}
.price_list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $gap_list;
    text-align: center;
    p{
    color: $text3-color;
    font-size: $p_small;
    }
    .button{
        color: $white-color;
        width: auto;
        padding: $btn-padding;
        font-weight: 600;
        background-color: $btn-hover-color;
        border-radius: $btn-radius;
        text-decoration: none;
        cursor: pointer;
        margin-top: 2rem;
        transition: transform 0.2s ease;
        &:hover {
            background-color: $btn-form;
            transform: translateY(5px);
        }
        @media (max-width: 720px) {
            margin-top: 1rem;
            margin-bottom: 0.5rem;
        }
    }
}
.price_description_card{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: auto;
    background-color: $form-color;
    border-radius: $border-radius;
    box-shadow: 0 8px 24px rgba(85, 143, 219, 0.089);
    padding: $main-padding;
    padding-bottom: 0;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 720px) {
    justify-content: center;
    padding-right: calc($main-padding / 2);
    padding-bottom: calc($main-padding / 2);
    padding-top: calc($main-padding / 2);
    padding-left: calc($main-padding / 2);
    }
}
.price_description_card:first-child{
    display: flex;
    justify-content: right;
    align-items: flex-end;
}
.price_description_card_img{
    display: inline-block;
    align-self: flex-end;
    height: auto;
    max-width: 360px;
    pointer-events: none;
    user-select: none;
    -webkit-user-drag: none;
    img{
        border-radius: 0 0 $border-radius 0;
    }
    @media (max-width: 700px) {
    display: none;
    }
}
.price_description_list{
    font-size: $p;
    ul{
        padding-left: 0.5rem;
        padding-bottom: 2rem;
        li{
            padding-bottom: 0.5rem;
        }
    }
    @media (max-width: 700px) {
        ul{
            padding-bottom: 0;
        }
    }
}