@use '../scss/variables' as *;

.footer {
  display: flex;
  align-items: center;
  background-color: $primary-color;
  height: $footer-height;

  .container {
    max-width: $max-width;
    margin: 0 auto;
    text-align: center;
    p{
      color: $form-color;
      text-decoration: none;
      font-size: $p_small;
    }
  }
}
.odkazy_wrapper{
  display: flex;
  flex-direction: row;
  gap: calc($gap / 2);
  justify-content: center;
  a{
    color: $form-color;
    font-size: $p_small;
  }
  .cookieSettings{
    color: $form-color;
    font-size: $p_small;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }
}
