@use '../scss/variables' as *;

.stats {
  display: flex;
  flex-direction: column;
  background-color: $back-color;
  justify-content: center;
  align-items: center;
  @media (max-width: 700px) {
    background-color: $white-color;
  }
}
.grid {
  display: flex;
  flex-direction: row;
  gap: $gap80;
  width: 100%;
  max-width: $max-width;
  background-color: $white-color;
  padding: 32px 64px;
  @media (max-width: 1024px) {
    gap: $gap2;
    padding: 32px;
  }
  @media (max-width: 700px) {
    gap: 24px;
    flex-direction: column;
    padding: 36px 24px;
  }
}
.stat {
  display: flex;
  flex-direction: column;
  gap: 8px;
  
  transition: transform 0.2s ease;
  &:hover {
    transform: translateY(-5px);
  }
  @media (max-width: 700px) {
    padding: 0;
    gap: 0;
  }
}
.value {
  font-family: 'Inter', sans-serif;
  font-size: 26px;
  font-weight: 600;
  color: $btn-hover-color;
  text-align: center;
}
.label {
  font-size: $p;
  color: $text2-color;
  font-weight: 300;
  text-align: center;
}