@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.resume {
  width: 794px;
  height: 1123px;
  padding: 15mm;
  background: #fff;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
}

.left {
  width: 35%;
  padding-right: 10mm;
  border-right: 1px solid #000000;

  .photo {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;

    img {
      width: 180px;
      height: 180px;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  .contact, .education, .expertise {
    margin-bottom: 20px;
    
    h3 {
      font-size: 14px;
      letter-spacing: 2px;
      margin-bottom: 8px;
    }

    p, li {
      font-size: 12px;
      margin: 4px 0;
    }

    ul {
      padding-left: 28px;
      line-height: 16px;
      margin-bottom: 0;
    }
    li{
      margin: 5px 0;
    }
  }
}
.contact{
  border-bottom: 1px solid #707070;
  line-height: 16px;
  svg {
    font-size: 14px;
    margin-right: 4px;
    vertical-align: middle;
  }
  p {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 4px 0;
    font-size: 12px !important;
  } 
}
.education{
  line-height: 16px;
}
.expertise{
  line-height: 16px;
  margin-bottom: 0 !important;
}
.right {
  width: 65%;
  padding-left: 10mm;

  .name {
    font-size: 46px;
    font-style: italic;
    margin-bottom: 5px;
    line-height: 48px;
  }

  .position-title {
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 30px;
    border-bottom: 1px solid #707070;
  }

  .section-title {
    position: relative;
    font-size: 14px;
    letter-spacing: 2px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .summary,
  .experience-entry {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 15px;

    ul {
      padding-left: 16px;

      li {
        margin-bottom: 4px;
      }
    }
  }
}
.startButton {
  width: 100%;
  padding: 1.2rem 0;
  font-size: 1.15rem;
  background: #4f8cff;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background .2s;
  &:hover { background: #2465c7; }
}
.hiddenText {
  font-size: 0 !important;
  //height: 0 !important;
  //line-height: 0 !important;
  //margin: 0 !important;
  //padding: 0 !important;
  //visibility: hidden;
}
 