/* FONT: (POKUD CHCEŠ FONT, použij přímo @font-face! Jinak smaž tento blok) */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&display=swap');

#cv-container{
  width: 794px;
  height: 1123px;
}
.resume {
  width: 794px;
  height: 1123px;
  padding: 0;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  font-family: serif; // Pokud chceš Playfair, nahraď za @font-face
  color: #333;
}

.resume_wrapper{
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: fit-content(250px) 1fr;
  background-color: #ffffff;
}

.left {
  width: 100%;
  max-width: 250px;
  padding: 0;
  position: relative;
  background-color: #e6e6e681;
  color: #fff;
}

.left_section h3 {
  color: #f4b740;
}

.header{
  display: flex;
  flex-direction: row;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: center;
  width: 100%;
  height: 100%;
  padding: 10mm 10mm;
  background-color: #ffffff;
}
.right h3{
  color: #f4b740;
}
.right svg{
  margin-right: 1.5rem;
}

.nameSection {
  margin-bottom: 1rem;
}

.name {
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 1.1;
  text-align: left;
}
.name strong {
  font-weight: 700;
}

.position-title {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 4px;
  margin-top: 5px;
  text-align: left;
  text-transform: uppercase;
  color: #333;
  border-bottom: 1px solid #33333381;
  border-top: 1px solid #33333381;
}

.section {
  margin-bottom: 20px;
}

.section-title {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 12px;
  padding: 6px 0px 6px 1.5rem;
  color: white;
  background-color: #3b393a;
}
.section-title--noborder {
  border-bottom: none;
  margin-bottom: 0.5rem;
  background-color: white;
  color: #333;
  padding: 0;
}
.summary {
  font-size: 12px;
  line-height: 1.5;
  font-weight: 300;
}

.experience-entry {
  position: relative;
  padding-left: 0;
  display: grid;
  grid-template-columns: 6rem 1fr;
  gap: 1.5rem;
}
.experience-entry strong {
  font-size: 14px;
  font-weight: 700;
  display: block;
}
.experience-entry .company {
  font-size: 12px;
  font-weight: 400;
  color: #555;
  margin-bottom: 8px;
  display: block;
}
.experience-entry ul {
  padding-left: 16px;
  margin-top: 5px;
}
.experience-entry ul li {
  font-size: 12px;
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: 4px;
}
.experience-entry span:first-child {
  position: relative;
  display: inline-block;
  text-align: center;
  margin-top: 2px;
}
.experience-entry span:first-child::after {
  position: absolute;
  left: 2.95rem;
  top: 1.5rem;
  bottom: 0;
  content: "";
  background-color: #33333342;
  width: 2px;
  height: auto;
}

.expirience_columns{
  display: flex;
  flex-direction: column;
}
.skillsList {
  list-style-type: none;
}
.skillsList li {
  color: #333;
  margin: 5px 0px 5px 0;
  font-size: 12px;
  text-align: right;
  padding-right: 1.5rem;
}

.photo {
  width: 100%;
  height: auto;
  min-width: 250px;
  text-align: center;
}
.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rightSection {
  margin-bottom: 0.8rem;
  color: #333;
  text-align: right;
}
.rightSection h3 {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 7px;
  padding:  6px 1.5rem 6px 0px;
  border-bottom: 1px solid #dad7d771;
  margin-bottom: 10px;
  background-color: #3b393a;
  color: white;
  text-align: right;
}
.rightSection p, .rightSection .educationEntry {
  font-size: 12px;
  line-height: 1.6;
  margin: 4px 0;
  padding-right: 1.5rem;
  padding-left: 1rem;
}
.rightSection .educationEntry {
  margin-bottom: 12px;
}
.rightSection svg {
  font-size: 14px;
  margin-left: 8px;
  vertical-align: middle;
}

.hiddenText {
  font-size: 0 !important;
  line-height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  visibility: hidden;
}

.contact, .education, .expertise {
  margin-bottom: 20px;
}
